body {
    font-family: sans-serif;
}
.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
div.training-list {
    display: table-cell;
    background-color: paleturquoise;
    padding: 8px;
    width: 200px;
}
div.training-detail {
    background: lightblue;
    display: table-cell;
    padding: 8px;
}
tr.navRow, tr.navRow-selected {
    cursor: pointer;
    color: darkblue;
}
tr.navRow:hover, tr.navRow-selected:hover {
    cursor: pointer;
    color: mediumturquoise;
}
tr.navRow-selected {
    font-weight: bold;
}
button.new-button {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 0;
    border: 2px solid black;
    cursor: pointer;
}